* {
  outline-color: #00A79D;
}
body {
  margin: auto;
  min-width: 320px;
}
.top-container {
  background: #E5F3F2;
  height: 316px;
}
h1 {
  color: #00A79D;
  font: "Roboto Slab";
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}
.title-box-styling {
  color: #6D6E71;
  font: "Roboto Slab";
  text-align: center;
}
input {
  border: thin solid lightgrey;
  display: block;
  font-size: 120%;
  font-weight: 400;
  height: 28px;
  margin: auto;
  padding-left: 8px;
  resize: none;
  width: 500px;
}
input::placeholder {
  color: #A9B2B2;
  filter: blur(.5px);
}
.input-body {
  border: thin solid lightgrey;
  display: block;
  font-size: 120%;
  font-weight: 400;
  height: 100px;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 8px;
  resize: none;
  width: 500px;
}
.input-body::placeholder {
  color: #A9B2B2;
  filter: blur(.5px);
}
.save-button {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 100%;
  height: 30.6px;
  margin: auto;
  outline: none;
  width: 512px;
}
.save-button:disabled {
  background: #d3d3d3;
}
.save-button:hover {
  background: #045E55;
  color: #FFFFFF;
  cursor: pointer;
}
.search-engine{
  margin: auto;
  margin-top: 20px;
  width: 500px;
}
.clear-all-button {
  background: #6D6E71;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 100%;
  height: 30.6px;
  margin: auto;
  margin-top: 20px;
  outline: none;
  width: 512px;
}
.clear-all-button:hover {
  background: #EF4136;
  color: #FFFFFF;
  cursor: pointer;
}
 h2 {
  color: #6D6E71;
  display: inline-block;
  font-family: "Roboto Slab";
  margin-bottom: 0px;
  margin: auto;
  margin-top:  20px;
  width: 470px;
}
.delete {
  background-color: transparent;
  background-image: url(images/delete.svg);
  border: none;
  height: 30px;
  margin-top: 4px;
  margin-left: 4px;
  width: 30px;
}
.delete:hover {
  background-image: url(images/delete-hover.svg);
}
.up-vote {
  background-color: transparent;
  background-image: url(images/upvote.svg);
  border: none;
  height: 30px;
  width: 30px;
}
.up-vote:hover {
  background-image: url(images/upvote-hover.svg);
}
.output-body {
  color: #6D6E71;
  font-family: "Open Sans";
  font-size: 18px;
  margin-top: 10px;
  width: 512px;
}
.down-vote {
  background-color: transparent;
  background-image: url(images/downvote.svg);
  border: none;
  height: 30px;
  margin-left: 1%;
  width: 30px;
}
.down-vote:hover{
  background-image: url(images/downvote-hover.svg);
}
.quality, .level {
  color: #6D6E71;
  display: inline-block;
  font-family: "Open Sans";
  margin-top: 0;
}
.quality {
  font-weight: bold;
  margin-left: 12px;
}
.level {
  font-weight: normal;
  margin-left: 6px;
}
article {
  border-bottom: thin solid lightgrey;
  margin: auto;
  width: 512px;
}
@media (max-width:600px) {
html {
  height: 100%;
  width: 100%;
}
.top-container {
  height: 300px;
}
article {
  width: 265px;
}
h1 {
  font-size: 33px;
  font-weight: bold;
  padding-bottom: 16px;
  padding-top: 30px;
}
.output-body {
  font-size: 21px;
  margin-top: 10px;
  width: 265px;
}
h2 {
  display: inline-block;
  margin: auto;
  margin-top: 25px;
  width: 225px;
}
.clear-all-button {
  display: block;
  font-size: 100%;
  height: 30.6px;
  margin-top: 20px;
  width: 276px;
}
.search-engine{
  margin-top: 20px;
  width: 265px;
}
.save-button {
  display: block;
  font-size: 20px;
  height: 40px;
  width: 276px;
}
.input-body {
  display: block;
  height: 90px;
  font-size: 120%;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 8px;
  width: 265px;
}
input {
  display: block;
  font-size: 120%;
  font-weight: 400;
  height: 30px;
  padding-left: 8px;
  width: 265px;
}
}
